{% extends "base.html" %}
{% load static %}
{% block content %}

<main>

    <!-- Trip Details -->
    <section id="details">
        <div id="details-wrapper">
            <h2>Trip Details</h2>

            <!-- trip image if there is such, otherwise display the default one -->
            {% if trip.image_url %}
                <img src="{{ trip.image_url }}"
                    alt="{{ trip.destination}}" />
            {% else %}
                <img src="{% static "images/default-trip.jpg" %}"
                    alt="{{ trip.destination}}" />
            {% endif %}
            <!-- trip destination -->
            <p id="details-title">{{ trip.destination }}</p>

            <div id="info-wrapper">
                <div id="details-description">

                    <!-- trip start date in format "D d M Y" -->
                    <p class="description">
                        {{ trip.start_date|date:"D d M Y"}}
                    </p>
                    <!-- trip duration -->
                    <p>
                        {{ trip.duration }} day/s
                    </p>
                    <!-- trip summary -->
                    <p>
                        {{ trip.summary}}
                    </p>
                </div>

                <!--Edit and Delete buttons -->
                <div id="action-buttons">
                    <a href="{% url "edit-trip" trip.pk %}" id="edit-btn">Edit</a>
                    <a href="{% url "delete-trip" trip.pk %}" id="delete-btn">Delete</a>
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}